# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store

# Temporary files
*.tmp
*.swp

# Logs
*.log

# Environment variables
.env
Package.resolved
